
  <section class="wrapper col-md">
    <div class="container py-5">
        
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/tuksamobil.png" width="680" height=auto>
            </div>
            <div class="col-lg-6">
                <h1 class="h1 font-weight-bold">Acerca de nosotros.</h1>
                <p align="justify" class="font-italic text-muted"><strong>Inmuebles TuKsa</strong> es la plataforma de bienes raíces <strong>líder en el estado 
                    de Guanajuato</strong> que te acerca con más de 2,500 asesores inmobiliarios que te ayudarán a buscar el cliente ideal para tu inmueble para disposición de Venta o Renta,
                a través de nuestra plataforma podrás tener un acercamiento con nuestros asesores inmobiliarios que te orientarán con todos los trámites necesarios
                para que puedas colocar tu inmueble a disposición de nuestra extensa cartera de clientes.</p>
                <h3 class="h3 font-weight-bold">Nuestro objetivo</h3>
                <p align="justify" class="font-italic text-muted">Al brindar nuestros servicios<strong> te acompañamos en todos los complicados procesos legales</strong> que se necesitan
                    para poner a dispocición tu inmueble y logres posicionarlo de una manera adecuada sin tantas complicaciones.</p>
                <h4 class="h4 font-weight-bold">¡No lo pienses más!</h4>
                <p align="justify" class="font-italic text-muted"><strong>¡Registrate ahora y comienza a vender ahora mismo!</strong>
                    nuestro servicio al cliente tendrá el placer de poder atenderte.</p>
                    <p>
                        <a routerLink="/login" role="button" class="btn btn-primary px-5">¡Quiero registrarme!</a>
                    </p>
            </div>
        </div>
    </div>
  </section>