<section class="wrapper col-md">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="container col-sm ">   
                    <div class="row " >
                    <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
                            <img class="card-img d-none" routerLink="/producto" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                            <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Inmueble 1</small>
                                <h4 class="card-title mt-0 "><a class="text-white" herf="#">Ubicado en Irapuato</a></h4>
                                <small><i class="far fa-clock"></i> 26 Noviembre, 2021</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                    <div class="media-body">
                        <h6 class="my-0 text-white d-block">Asesor 1</h6>
                        <small>Asesor Inmobiliario</small>
                    </div>
                    </div>
                            </div>
                            </div>
                        </div></div>



                        <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tree,nature');">
                            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                            <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Inmueble 2</small>
                                <h4 class="card-title mt-0 "><a class="text-white" herf="#">Ubicado en Irapuato</a></h4>
                                <small><i class="far fa-clock"></i> 26 Noviembre, 2021</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                    <div class="media-body">
                        <h6 class="my-0 text-white d-block">Asesor 2</h6>
                        <small>Asesor Inmobiliario</small>
                    </div>
                    </div>
                            </div>
                            </div>
                        </div></div>
                    <div class="col-md-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?computer,design');">
                            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
                            <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Inmueble 3</small>
                                <h4 class="card-title mt-0 "><a class="text-white" herf="#">Ubicado en Irapuato</a></h4>
                                <small><i class="far fa-clock"></i> 26 Noviembre, 2021</small>
                            </div>
                            <div class="card-footer">
                                <div class="media">
                                <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                                <div class="media-body">
                                <h6 class="my-0 text-white d-block">Asesor 3</h6>
                                <small>Asesor Inmobiliario</small>
                                </div>
                            </div>
                            </div>
                            </div>
                        </div></div>
                    
                    </div>   
                    </div>
                    

                
            </div>
            <div class="col-lg-6">
                <h1 class="h1 font-weight-bold">Descripción del Inmueble:</h1>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h1 class="h1 font-weight-bold">Precio: $1,5000.00</h1>
                <h4 class="h4 font-weight-bold col-mr-6">Categorías</h4>

                <h4 class="h4 font-weight-bold">Tal vez te puedan interesar estas propiedades:</h4>
                
            </div>
        </div>
        </div>
</section>